
.btnTD{
    text-align: right;

}
input{
    width: 100%
}
#id{
    width: 10%;
    text-align: center;
}
#surname{
    width: 25%
}
#lastname{
    width: 25%
}
#age{
    width: 10%
}
td[name='addButton']{
    text-align: right;
}
td[name='modifyButton']{
    text-align: right;
}

td[name='addButton'] button{
width: 82px;
}
.container{
    margin: 0px,0px,0px,0px;
}